<!-- The home page -->

<h1>Small Neo</h1>
<h2>extremely limited supply NEO coin.</h2>

<p>We are a small limited edition crypto currency that pledges to donate 20% of coin to medical charities. Built on top of Neo</p>

<p>
The current supply is 1000 coins. Once all the coins are so sold, there will be no more available.
</p>

<div>
	<p>
	This project has two main goals:
	</p>
</div>

<a href="https://github.com/2PacIsAlive/smallneo">
	<i class="fab fa-github fa-10x"></i>
</a>

<!--
    Create a currency
    Learn from the experience

A Few Additional Questions

How do you price the coin?

How do we get the coin to $100 per coin?

How do we make it more valuable and wanted ?

Simple Overview

Small NEO is an NEP-5 token buit on the NEO network that only has 1000 coins in its entirety.

Why?



Extra Ideas

    Is it possible to do some sort of inflation or staking? We have been impressed by $NEO and recently $ARK in the way that they structure their incentivization for coin holders
    Would it be possible to integrate some sort of masternode payout system for charity into the coin? Could we give a few select medical mission charities something like a masternode where they could receive at least 10% a year in staking rewards?

Questions We Hope To Answer

    What does it feel like to build your own coin?
    How long does it take?
    What is the process of marketing and getting the word out ?
    How long till all 1000 coins are sold
    What if all the coins aren’t sold?
    What will the price look like over the next few months?
    How do we build in safety and security?

Marketing and Growth

    What is the best way to get the word out?
    How difficult is it to get a cash name like $SNEO
    What type of logo would work well for the project?
    Should we give away any coins to influencers?

How To Get The Coin

Currently the best way is to find Dave and the Small NEO team.

How To Send or Sell the Coin

Once you get the coin you can send it or sell it by using your wallet. The Neon Wallet is a very cool wallet app

We Need Your Help!

We still need more help though! There is lots more we want to build. I would love to meet you. If you want to talk more just drop me a DM here or hit me up on Twitter at www.Twitter.com/DaveCraige. Can’t wait to connect and share more with you what we are building. Come join us!
</p>

-->